body {
  max-width: 640px;
  margin: 0 auto;
  font-family: "microsoft yahei";
  -webkit-tap-highlight-color: transparent;
  background: #f8f8f8; }

* {
  box-sizing: border-box; }

a img {
  font-size: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  *zoom: 1; }

.re {
  position: relative; }

.main {
  margin: 0 auto; }

.img {
  display: block;
  width: 100%;
  max-width: 640px;
  margin: auto; }

html, body {
  position: relative;
  height: 100%; }

body {
  background: #bcd9e4;
  max-width: 640px; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.slide-item {
  position: relative;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: 0 auto; }

.page {
  background: url("../img/p1.jpg") no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.page2 {
  background-image: url("../img/p2.jpg"); }

.page3 {
  background-image: url("../img/p3.jpg"); }

.page4 {
  background-image: url("../img/p4.jpg"); }

.page5 {
  background-image: url("../img/p5.jpg"); }

.arrow {
  background: url("../img/arrow.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 10.6%;
  height: 3.5%;
  left: 43%;
  top: 89%;
  animation: arrow .5s infinite linear;
  -webkit-animation: arrow .5s infinite linear; }

@-webkit-keyframes arrow {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

@keyframes arrow {
  0% {
    transform: translateY(0px); }
  50% {
    transform: translateY(10px); }
  100% {
    transform: translateY(0px); } }

.page1--center {
  background: url("../img/center.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 81.7%;
  height: 37%;
  left: 10%;
  top: 26%;
  opacity: 0;
  transition: .5s;
  -webkit-transition: .5s;
  transform: rotate(-360deg) scale(0.2);
  -webkit-transform: rotate(-360deg) scale(0.2); }
  .page1--center.active {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1); }

.share-con {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0%;
  top: 0%;
  z-index: 111; }

.share {
  background: url("../img/share.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 57%;
  height: 20%;
  right: 3%;
  top: 3%;
  z-index: 111; }

.share-con-con {
  display: none; }
  .share-con-con.active {
    display: block; }

.btn1 {
  position: absolute;
  width: 43%;
  height: 6.6%;
  left: 7%;
  top: 68%;
  cursor: pointer; }

.btn2 {
  position: absolute;
  width: 43%;
  height: 6.6%;
  left: 52%;
  top: 68%;
  cursor: pointer; }

.logo {
  background: url("../img/logo.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 31%;
  height: 16.7%;
  left: 14%;
  top: 26%;
  opacity: 0;
  transition: .5s;
  transform: rotate(-360deg) scale(0.2); }
  .logo.active {
    opacity: 1;
    transform: rotate(0deg) scale(1); }

.logo2 {
  background: url("../img/logo.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 31%;
  height: 16.7%;
  left: 28%;
  top: 18%;
  opacity: 0;
  transition: .5s;
  -webkit-transition: .5s;
  transform: rotate(-360deg) scale(0.2);
  -webkit-transform: rotate(-360deg) scale(0.2); }
  .logo2.active {
    opacity: 1;
    transform: rotate(0deg) scale(1); }

.code {
  position: absolute;
  width: 34.8%;
  height: 20.3%;
  left: 32.5%;
  top: 29.9%; }

.movie-con.active .movie {
  transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  opacity: 1; }

.movie {
  background: url("../img/movie1.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 26%;
  height: 22%;
  left: 10.5%;
  top: 29.9%;
  transition: .5s;
  opacity: 0;
  transform: translate(-100px, -100px);
  -webkit-transform: translate(-100px, -100px); }

.movie2 {
  background-image: url("../img/movie2.png");
  left: 38.5%;
  top: 29.9%;
  transition: .5s .2s;
  -webkit-transition: .5s .2s;
  transform: translate(100px, -100px);
  -webkit-transform: translate(100px, -100px); }

.movie3 {
  background-image: url("../img/movie3.png");
  left: 67.5%;
  top: 29.9%;
  transition: .5s .4s;
  -webkit-transition: .5s .4s;
  transform: translate(100px, 100px);
  -webkit-transform: translate(100px, 100px); }

.movie4 {
  background-image: url("../img/movie4.png");
  left: 10.5%;
  top: 55.9%;
  transition: .5s .6s;
  -webkit-transition: .5s .6s;
  transform: translate(50px, 75px);
  -webkit-transform: translate(50px, 75px); }

.movie5 {
  background-image: url("../img/movie5.png");
  left: 38.5%;
  top: 55.9%;
  transition: .5s .8s;
  -webkit-transition: .5s .8s;
  transform: translate(50px, -75px);
  -webkit-transform: translate(50px, -75px); }

.movie6 {
  background-image: url("../img/movie6.png");
  left: 67.5%;
  top: 55.9%;
  transition: .5s 1s;
  -webkit-transition: .5s 1s;
  transform: translate(-50px, 75px);
  -webkit-transform: translate(-50px, 75px); }

.music {
  background: url("../img/music.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 6.9%;
  height: 4.2%;
  right: 10.5%;
  top: 6.2%;
  z-index: 11; }
  .music.active {
    background-image: url("../img/music_c.png"); }
