@import "base";
html, body {
  position: relative;
  height: 100%;
}
body{
  background: #bcd9e4;
  max-width: 640px;
}
.coupon-bg{
  background: url("../img/coupons.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.ok{
  background: url("../img/ok.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width:25%;
  height:5%;
  left: 37%;
  top: 78%;
  cursor: pointer;
}
