body {
  max-width: 640px;
  margin: 0 auto;
  font-family: "microsoft yahei";
  -webkit-tap-highlight-color: transparent;
  background: #f8f8f8; }

* {
  box-sizing: border-box; }

a img {
  font-size: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  *zoom: 1; }

.re {
  position: relative; }

.main {
  margin: 0 auto; }

.img {
  display: block;
  width: 100%;
  max-width: 640px;
  margin: auto; }

html, body {
  position: relative;
  height: 100%; }

body {
  background: #bcd9e4;
  max-width: 640px; }

.coupon-bg {
  background: url("../img/coupons.jpg") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.ok {
  background: url("../img/ok.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 25%;
  height: 5%;
  left: 37%;
  top: 78%;
  cursor: pointer; }
