body {
  max-width: 640px;
  margin: 0 auto;
  font-family: "microsoft yahei";
  -webkit-tap-highlight-color: transparent;
  background: #f8f8f8; }

* {
  box-sizing: border-box; }

a img {
  font-size: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  *zoom: 1; }

.re {
  position: relative; }

.main {
  margin: 0 auto; }

.img {
  display: block;
  width: 100%;
  max-width: 640px;
  margin: auto; }

html, body {
  position: relative;
  height: 100%; }

body {
  background: #bcd9e4;
  max-width: 640px; }

.play-title {
  font-size: 24px;
  color: #1e91c9;
  background: #ffffff;
  border: 1px solid #1e91c9;
  text-align: center;
  position: absolute;
  width: 80%;
  height: 10%;
  left: 10%;
  top: 3.4%; }

.play-con {
  position: relative;
  width: 100%;
  height: 100%; }

.play-img {
  position: absolute;
  left: 9.6%;
  top: 15.7%;
  background: url("../img/cover_b_03.png") no-repeat;
  background-size: 100% 100%;
  width: 81.7%;
  height: 45.7%; }

.play-img-real {
  position: absolute;
  left: 9.6%;
  top: 15.7%;
  background-size: 100% 100%;
  width: 81.7%;
  height: 45.7%; }

.play-plus {
  position: absolute;
  left: 67%;
  top: 16%;
  background: url("../img/plus.png") no-repeat;
  background-size: 100% 100%;
  width: 20%;
  height: 11%; }

.play-img-item-con {
  position: absolute;
  width: 88%;
  height: 10%;
  left: 6.3%;
  top: 66.6%; }

.play-img-item {
  position: absolute;
  font-size: 12px;
  height: 100%;
  width: 18%;
  left: 0; }
  .play-img-item .finger {
    position: absolute;
    background: url("../img/cover_s_03.png") no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 80%;
    z-index: 111; }
  .play-img-item .finger-img {
    position: absolute;
    background-size: 100% 100%;
    width: 100%;
    height: 80%; }
  .play-img-item span {
    position: absolute;
    top: 84%;
    width: 100%;
    text-align: center; }

.play-img-item2 {
  left: 20%; }

.play-img-item3 {
  left: 40%; }

.play-img-item4 {
  left: 60%; }

.play-img-item5 {
  left: 80%; }

.play-btn {
  position: absolute;
  left: 31%;
  top: 80%;
  background: url("../img/play.png") no-repeat;
  background-size: 100% 100%;
  width: 38%;
  height: 5.7%; }

.play-logo {
  position: absolute;
  left: 39%;
  top: 87%;
  background: url("../img/play_logo.png") no-repeat;
  background-size: 100% 100%;
  width: 21%;
  height: 11%; }
