body {
  background: #bcd9e4; }

.ward-cover {
  background: url("../img/ward.png") no-repeat;
  background-size: 100% 100%;
  width: 75%;
  height: 43%;
  position: absolute;
  left: 12%;
  top: 1%; }

.ward-input {
  display: block;
  position: absolute;
  width: 81%;
  height: 5.4%;
  border: 3px solid #1e91c9;
  border-radius: 5px;
  font-size: 14px;
  left: 7%;
  top: 49%;
  background: #93dcff;
  outline: none;
  padding: 0 10px; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #1e91c9; }

.ward-input2 {
  top: 57%; }

.ward-input3 {
  top: 64.6%; }

.btn {
  background: url("../img/ok.png") no-repeat;
  background-size: 100% 100%;
  width: 25%;
  height: 5.5%;
  position: absolute;
  left: 35%;
  top: 73%;
  border: none;
  cursor: pointer;
  outline: none; }

.footer {
  background: url("../img/footer.png") no-repeat;
  background-size: 100% 100%;
  width: 89%;
  height: 12%;
  position: absolute;
  left: 5%;
  top: 85%;
  border: none; }

.ward-item {
  width: 69.5%;
  height: 40.2%;
  position: absolute;
  left: 16%;
  top: 3%;
  border: none; }

.ward1 {
  background: url("../img/ward1.png") no-repeat;
  background-size: 100% 100%;
  width: 69.5%;
  height: 40.2%;
  position: absolute;
  left: 14%;
  top: 3%; }

.ward2 {
  background: url("../img/ward2.png") no-repeat;
  background-size: 100% 100%;
  width: 69.5%;
  height: 40.2%;
  position: absolute;
  left: 14%;
  top: 3%; }

.ward3 {
  background: url("../img/ward3.png") no-repeat;
  background-size: 100% 100%; }

.ward-text {
  background: url("../img/text.png") no-repeat;
  background-size: 100% 100%;
  width: 58%;
  height: 2.5%;
  position: absolute;
  left: 20%;
  top: 45%; }

.logo {
  display: block;
  width: 25.9%;
  height: 14.3%;
  background: url("../img/logo2.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  left: 35%;
  top: 82%; }
